<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YANKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>yanInput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>yanToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>yanwenzi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C29CE2251EC0AEF700BB505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29CE2391EC0AEF700BB505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C29CE2441EC0AEF700BB505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2C0F1071EC1ADE500017768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2C0F1171EC1AE1B00017768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F21F831ECC1F83000FCDB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2F21F8B1ECC1F83000FCDB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
